body {
    font-family:"FontAwesome";
    background:#000 url(images/bg_default.png) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #bababa;
    font-size: 30px;  
    width: 100%;
    height: 100%;
}

.main {margin: 3% 7% 0;}

.c_pic {
    left: 0;
    width: 100%;
    height:100%; 
    position:fixed;
}
